[% WRAPPER 'diary_base.tt' %]

<div class="row-fluid">
  <div class="span7">
    <div id ="timer">
            ここにもじ
    </div>
    <button id ="timer-start" class="span2 btn btn-large btn-block btn-warning">start</button>
    <button id ="timer-restart" class="span2 btn btn-large btn-block btn-warning" style="display:none;">restart</button>

    <button id ="timer-stop" class="span2 btn btn-large btn-block btn-danger">stop</button>
  </div>
  
</div>

<script src="/js/timer.js"></script>

[% END # WRAPPER %]


