.main-container{
    margin: 0 auto;
}

.title-bar{
    padding: 4px 5px;


}


.space-table tr{
    padding: 15px 10px;
}

.space-table td{
    padding: 15px 20px;
}

.space-table thead{
    padding : 10px;
}

.round{
    border-radius: 5px;
    padding: 20px;
}

a{
    text-decoration: none;
    color: #f0f0f0;
}

.d-title{
    position: absolute;
    font-weight: bold;
    display: block;
    width: 300px;
    margin-bottom: 10px;
    left: 0px;
    top: 0px;
}

.date{
    font-weight: normal;
    font-size: 70%;
    padding: 10px;
}

.e-title{
    display : block;
    font-weight: bold;
    font-size: 130%;
    margin: 10px 1px;
}