[% WRAPPER 'diary_base.tt' %]

<h2>Edit entry</h2>
<div class="row-fluid">
  <table class="table space-table palette palette-wet-asphalt round">
  <thead>
      <tr>
          <th>entry_id</th>
          <th>title</th>
          <th>edit</th>
          <th>delete</th>
      </tr>
  </thead>

  <tbody>

  [% FOREACH entry IN entries %]

  <tr>
    <td>[% entry.entry_id %]</td>
    <td><a class="pure-button pure-button-xsmall" href="/diary/[% c.req.parameters.get('diary_id') %]/entry/[% entry.entry_id %]" title="">[% entry.title %]</a></td>
    <td><a class="pure-button pure-button-xsmall" href="/diary/[% c.req.parameters.get('diary_id') %]/edit/entry/[% entry.entry_id %]" title="">edit</a></td>
    <td><a class="pure-button pure-button-xsmall" href="/diary/[% c.req.parameters.get('diary_id') %]/delete/entry/[% entry.entry_id %]" title="">delete</a></td>
  </tr>
  [% END %]
  </tbody>
</table>
</div>



[% END # WRAPPER %]
