[% WRAPPER 'diary_base.tt' %]

<h2>Entries</h2>

[% FOREACH entry IN entries %]
<div class="row-fluid">
  <div class="palette palette-wet-asphalt span8 round" style="min-height: 100px; margin-bottom: 30px;">
    <div class="span2 round date" style="float: left;" >
      [% entry.created %]
    </div>
     <a href="/diary/[% c.req.parameters.get('diary_id') %]/entry/[% entry.entry_id %]" class="e-title">[% entry.title %]
     </a>
     <br>
   [% html_line_break(entry.body) %]
  </div>
</div>
[% END %]


<div class="row-fluid">
  <div class="span8" style="text-align: center;" >
    <div class="btn-toolbar">
    <div class="btn-group">
      [% IF c.req.parameters.get('page') > 1  %]
      <a class="btn btn-primary" href="/diary/[% c.req.parameters.get('diary_id') %]/entries?page=[% c.req.parameters.get('page') - 1 %]&limit=3">prev</a>
      [%- END %]
      [%- %]<a class="btn btn-primary active" href="#fakelink">[% page %]</a>
      [%- %]<a class="btn btn-primary " href="/diary/[% c.req.parameters.get('diary_id') %]/entries?page=[% c.req.parameters.get('page') + 1 %]&limit=3">next</a>
    </div>
    </div>
  </div>
</div>





[% END # WRAPPER %]
