<!doctype html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>ほんとうはここにタイトル</title>
  <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
  <link href="http://getbootstrap.com/2.3.2/assets/css/bootstrap-responsive.css" rel="stylesheet">

  <link href="/css/flat-ui.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/diary_main.css">



</head>
<body>

 <div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <h2>Diary title</h2>


      <div class="todo mrm">
        <ul>
          <li>
            <a href="/diary/[% c.req.parameters.get('diary_id') %]/entries" title="">
            <div class="todo-content">
              <h4 class="todo-name">
                Show <strong>All</strong> Entries
              </h4>
              全部表示する
            </div>
            </a>
          </li>

          <li>
            <a href="/diary/[% c.req.parameters.get('diary_id') %]/entry/create" title="">
            <div class="todo-content">
              <h4 class="todo-name">
                Create <strong>Entry</strong>
              </h4>
              記事を書く
            </div>
            </a>
          </li>

          <li>  
            <a href="/diary/[% c.req.parameters.get('diary_id') %]/entries/list" title="">
            <div class="todo-content">
              <h4 class="todo-name">
                Edit <strong>Entries</strong>
              </h4>
              編集画面
            </div>
            </a>
          </li>


        </ul>
      </div>

    </div>
    <div class="span9">
      <div class="hero-unit">
        [% content %]

      </div>          
    </div>
  </div>
</div>


</div>
<script src="./Bootstrap, from Twitter_files/jquery.js"></script>
<script src="./Bootstrap, from Twitter_files/bootstrap-transition.js"></script>
<script src="./Bootstrap, from Twitter_files/bootstrap-alert.js"></script>
<script src="./Bootstrap, from Twitter_files/bootstrap-modal.js"></script>
<script src="./Bootstrap, from Twitter_files/bootstrap-dropdown.js"></script>
<script src="./Bootstrap, from Twitter_files/bootstrap-scrollspy.js"></script>
<script src="./Bootstrap, from Twitter_files/bootstrap-tab.js"></script>
<script src="./Bootstrap, from Twitter_files/bootstrap-tooltip.js"></script>
<script src="./Bootstrap, from Twitter_files/bootstrap-popover.js"></script>
<script src="./Bootstrap, from Twitter_files/bootstrap-button.js"></script>
<script src="./Bootstrap, from Twitter_files/bootstrap-collapse.js"></script>
<script src="./Bootstrap, from Twitter_files/bootstrap-carousel.js"></script>
<script src="./Bootstrap, from Twitter_files/bootstrap-typeahead.js"></script>


</body>
</html>
