<!doctype html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>ほんとうはここにタイトル</title>
  <link rel="stylesheet" href="/css/pure-min.css">
  <link rel="stylesheet" href="/css/diary_main.css">

</head>
<body>
<div class="content">
  <div class="header">
    <div class="pure-menu pure-menu-open pure-menu-fixed pure-menu-horizontal">
      <a class="pure-menu-heading" href="">[% diary.name %]]</a>

      <ul>
        <li class="pure-menu-selected"><a href="">Home</a></li>

      </ul>
    </div>
  </div>
</div>

<div class="content main_container">
[% content %]

</div>

<div class="footer">
    Hatena
</div>

</body>
</html>
