<!doctype html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>ほんとうはここにタイトル</title>
  <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
  <link href="http://getbootstrap.com/2.3.2/assets/css/bootstrap-responsive.css" rel="stylesheet">

  <link href="/css/flat-ui.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/diary_main.css">



</head>
<body>

<h2></h2>
 <div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">

      <h2> Diary title</h2>
      <div class="todo mrm">

        <div class="todo-search">
          <h2>Menu</h2>

        </div>

        <ul>
          <li>
            <div class="todo-icon fui-chat"></div>
            <a href="/diary/[% c.req.parameters.get('diary_id') %]/entries?page=1" title="">
            <div class="todo-content">
              <h4 class="todo-name">
                Show <strong>All</strong> Entries
              </h4>
              全部表示する
            </div>
            </a>
          </li>

          <li>
            <div class="todo-icon fui-plus"></div>
            <a href="/diary/[% c.req.parameters.get('diary_id') %]/entry/create" title="">
            <div class="todo-content">
              <h4 class="todo-name">
                Create <strong>Entry</strong>
              </h4>
              記事を書く
            </div>
            </a>
          </li>

          <li>  
            <div class="todo-icon fui-list"></div>
            <a href="/diary/[% c.req.parameters.get('diary_id') %]/entries/list" title="">
            <div class="todo-content">
              <h4 class="todo-name">
                Edit <strong>Entries</strong>
              </h4>
              管理画面
            </div>
            </a>
          </li>

          <li>  
            <div class="todo-icon fui-heart"></div>
            <a href="/diary/[% c.req.parameters.get('diary_id') %]/jsoncheck" title="">
            <div class="todo-content">
              <h4 class="todo-name">
                 <strong>Entries</strong>List by api
              </h4>
              apiによる記事リスト
            </div>
            </a>
          </li>


        </ul>
      </div>

    </div>
    <div class="span9">
        [% content %]
    </div>
  </div>
</div>


</div>

</body>
</html>
